@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&display=swap');

/* Page set */
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    background-color: white;
    color: black;
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
}

/* Title section */
#gameTitle {
    font-size: 30px;
    text-transform: uppercase;
    padding: 5px;
    margin: 5px;
    background-color: #68b6ba;
    border: 3px solid;
    justify-content: center;
    justify-content: space-between;
}

/* Game area */

#weaponChoice {
    display: flex;
    justify-content: space-between;
}

.Btn {
    background-color: #68b6ba;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 15px;
    padding: 5px;
    justify-content: center;
    border-radius: 20%;
    margin: 5px;
}

.choiceBtn {
    background-color: #68b6ba;
    color: black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 10px;
    cursor: pointer;
    padding: 3px;
    justify-content: center;
    border-radius: 20%;
    margin: 2px;
}

#battle-ground {
    background-color: white;
    width: 100%;
    height: 240px;
    font-size: 20px;
    display: block;
}

#P-area {
    padding: 0px;
    margin-top: 10px;
    justify-content: center;
}

#P-area>img {
    height: 50px;
    width: 50px;
    justify-content: center;
}

#C-area {
    padding: 0px;
    margin-top: 10px;
    justify-content: center;
}

#C-area>img {
    height: 50px;
    width: 50px;
    justify-content: center;
}

#player {
    font-size: 10px;
    border: 3px solid;
    padding: 3px;
    margin: 3px;
    width: 35%;
    background-color: green;
}

span {
    font-size: 15px;
    padding: 1px;
}

#draw {
    font-size: 12px;
    padding: 3px;
    width: 35%;
    margin: 8px;
}

#computer {
    font-size: 10px;
    border: 3px solid;
    padding: 3px;
    margin: 3px;
    width: 35%;
    background-color: red;
}

#gameTallyBoard {
    border: 3px solid;
    margin-bottom: 8px;
    background-color: #68b6ba;
    padding: 15px;
    display: flex;
    margin: 5px;
    justify-content: center;
    justify-content: space-between;
}

.M-img {
    margin-top: 12px;
    width: fit-content;
    height: 200px;
    left: 30px;
}

#rules {
    background-color: #68b6ba;
    border: 3px solid;
    padding: 10px;
    font-size: 14px;
    margin: 5px;
}

/* mediaQ for tablets and larger */
@media screen and (min-width: 768px) {
    #gameTitle {
        font-size: 40px;
    }

    /* Game area */

    #weaponChoice {
        margin-top: 10px;
    }

    .Btn {
        margin-top: 20px;
    }

    .choiceBtn {
        font-size: 18px;
        padding: 10px;
    }

    #battle-ground {
        width: 100%;
        height: 400px;
        padding-top: 20px;
    }

    #P-area {
        margin-top: 20px;
    }

    #P-area>img {
        height: 100px;
        width: 100px;
    }

    #C-area {
        margin-top: 10px;
    }

    #C-area>img {
        height: 100px;
        width: 100px;
    }

    #player {
        padding: 8px;
        font-size: 15px;
    }

    span {
        font-size: 20px;
    }

    #draw {
        font-size: 20px;
    }

    #computer {
        padding: 8px;
        font-size: 15px;
    }

    #rules {
        font-size: 20px;
    }
}